.title-page {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
    text-align: center;

    cursor: pointer;

    .title {
        max-width: 1000px;
    }

    .start-arrow {
        position: absolute;

        bottom: 25%;
        left: 50%;

        transform: translateX(-50%);
    }
}