.restraints-page {
    display: flex;
    flex-direction: column;

    gap: 20px;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
    text-align: center;

    .description {
        max-width: 750px;
    }

    .title {
        max-width: 1000px;
    }

    .list {
        text-align: left;

        display: flex;
        flex-direction: column;

        gap: 10px;

        li {
            max-width: 500px;
        }
    }
}