.carbon-cycle-page {
    display: flex;
    flex-direction: column;

    gap: 100px;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
    text-align: center;

    .description {
        max-width: 750px;
    }

    .title {
        max-width: 1000px;
    }

    .carbon-cycle-diagram {
        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 70px;

        .diagram-row {
            display: flex;
            flex-direction: column;

            align-items: center;

            margin: 5px;
        }

        .multi-row {
            display: flex;
            flex-direction: row;

            gap: 200px;
        }
    }
}