@font-face {
    font-family: 'MonaSans';

    font-weight: 200 900;
    font-stretch: 75% 125%;
    
    src: url('./assets/fonts/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
         url('./assets/fonts/MonaSans/Mona-Sans.woff2') format('woff2-variations');
}